/* --------------------------------------------------------------- */
/* ----------  BEGIN OF GLOBAL styles (html, body, etc.) --------- */
/* --------------------------------------------------------------- */

/* Set box-sizing: border-box for entire project */
/* https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}


body {
    background-color: white;
    color: black;
    font-family: 'Open Sans', sans-serif;   /* text - Open Sans, headings - Gilroy */
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
}

a:active {
    color: black;
}

a:visited {
    color: black;
}

/* --------------------------------------------------------------- */
/* ----------  END   OF GLOBAL styles (html, body, etc.) --------- */
/* --------------------------------------------------------------- */





.header {
    background-color: #f7e296;
}




/* ----------------------------------ВРЕМЕННО ВСЕ КЛАССЫ СЮДА СВАЛИВАЕМ >>> */
/* ----------------------------------ВРЕМЕННО ВСЕ КЛАССЫ СЮДА СВАЛИВАЕМ >>> */

input#search {
    /* INHERITED FROM BODY
    font-size: 15px; line-height: 30px; 
    */
    background: transparent;
    border: none;
    color: rgba(0, 0, 0, 0.3); 
}

input#search:hover {
    color: rgba(0, 0, 0, 0.6); 
}

input#search:focus {
    color: rgba(0, 0, 0, 1); 
}

/* TODO: REVIEW */
/* Если у ссылок картинки грузятся через псевдо-элементы, то opacity подойдет, наверное, лучше, чем color: rgba(,,,0.3) */
.header [class*='button']:hover,   .header [class*='link']:hover  { opacity: 0.6;  }
.header [class*='button']:active,  .header [class*='link']:active { opacity: 0.3;  }

.header-nav-item > a, .link-catalog {
    font-family: 'Gilroy', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
}

/* два класса для большего приоритета, далее .huge-heading переопределяет line-height */
.promo-article .promo-article-heading {
    line-height: 56px;
}


.promo-item-characteristic-name {
    font-family: 'Gilroy', sans-serif;
    font-weight: 300;
    font-size: 36px;
    line-height: 48px;
}

.promo-item-characteristic-value {
    font-size: 13px;
    line-height: 20px;
}


.popular-list {
    font-family: 'Gilroy', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
}

.popular-item-image-box {
    width: 160px;
    height: 160px;
    background-color: #f7e296;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.popular-list .popular-item:nth-of-type(1) .popular-item-image-box {
    background-image: url('../img/svg/popular-1.svg');
}
.popular-list .popular-item:nth-of-type(2) .popular-item-image-box {
    background-image: url('../img/svg/popular-2.svg');
}
.popular-list .popular-item:nth-of-type(3) .popular-item-image-box {
    background-image: url('../img/svg/popular-3.svg');
}
.popular-list .popular-item:nth-of-type(4) .popular-item-image-box {
    background-image: url('../img/svg/popular-4.svg');
}
.popular-list .popular-item:nth-of-type(5) .popular-item-image-box {
    background-image: url('../img/svg/popular-5.svg');
}
.popular-list .popular-item:nth-of-type(6) .popular-item-image-box {
    background-image: url('../img/svg/popular-6.svg');
}

.services-item-active {
    background: black;
}


.service-description-heading {
    font-family: 'Gilroy', sans-serif;
    font-weight: 800;
    font-size: 47px;
    line-height: auto;    
}

/* TODO: картинки не видно, пока так оставлю */
.services .service-description-box:nth-of-type(1) .service-image-box {
    background-image: url('../img/svg/delivery.svg');
}
.services .service-description-box:nth-of-type(2) .service-image-box {
    background-image: url('../img/svg/warranty.svg');
}
.services .service-description-box:nth-of-type(3) .service-image-box {
    background-image: url('../img/svg/credit.svg');
}

/* TODO: dear IE11, hello! */
/* обесцвечиваем изображения логотипов */
.brands-gallery-item-logo-wrapper {
    filter: grayscale(100%);
}
.brands-gallery-item-logo-wrapper:hover {
    filter: grayscale(0%);
}


.carrier-item {
    font-family: 'Gilroy', sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 40px;        
}

.footer {
    background: #464646;
    color: #f9f9f9;
}

/* до лучшего решения не додумался */
.footer a {
    color: #f9f9f9;
}

.footer-nav-list .footer-nav-item {
    font-family: 'Gilroy', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;   
}


.form-feedback-label {
    font-family: 'Gilroy', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;       
}

.form-feedback input, .form-feedback textarea {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;        
}


/* <<< ВРЕМЕННО ВСЕ КЛАССЫ СЮДА СВАЛИВАЕМ---------------------------------- */
/* <<< ВРЕМЕННО ВСЕ КЛАССЫ СЮДА СВАЛИВАЕМ---------------------------------- */














/* --------------------------------------------------------------- */
/* ----------    BEGIN OF visibility control classes    ---------- */
/* --------------------------------------------------------------- */

/* constantly hidden on the pages, for example, <h1> for screen readers and web spiders */
.visually-hidden    { display: block; position: absolute; visibility: hidden;  }

/* for popups and other temporarily hidden objects on the page */
.hidden             { visibility:   hidden;  }
.none               { display:      none;    }
.block              { display:      block;   }

/* --------------------------------------------------------------- */
/* ----------    END   OF visibility control classes    ---------- */
/* --------------------------------------------------------------- */



/* --------------------------------------------------------------- */
/* ---------- BEGIN OF containers (div,section,article) ---------- */
/* --------------------------------------------------------------- */

/* simply column */
.column            { magic: true; }

/* container's width = 1/1 full layout width  = 1200px */
/* for header, footer and main content, i.e. for almost everything */
.column-full       { width: 1200px; }

/* container's width = 1/2 of layout width    = 600px */
.column-one-half   { width: 600px; }

/* container's width = 1/3 of layout width    = 400px  */
/* for .services > left block (buttons) */
.column-one-third  { width: 400px; } 

/* container's width = 2/3 of layout width    = 400px  */
/* for .services > right block (content) */
.column-two-thirds { width: 800px; }

/* container's width = 1/6 of layout width    = 200px */
/* for items in .popular container */
.column-one-sixth  { width: 200px; }

/* container's width = 4/5 of layout width    = 960px */
/* for popup 'write-us' and 'map' container */
.column-four-fifths  { width: 960px; }

/* container's width = 0.4 of layout width    = 480px */
/* for footer's central block */
.column-four-tenths  { width: 480px; }

/* container's width = 0.3 of layout width    = 360px */
/* for footer's central block */
.column-three-tenths  { width: 360px; }

/* something like float: right */
.column-right      { magic: true; }

/* something like float: left */
.column-left       { magic: true; }



/* container's width = 468px */
/* for filter box in catalog.html */
.wrapper-filter-box { width: 468px; }

/* container for both sorting box and content box */
.wrapper-sorting-box-and-content { width: 972px; }



.header {}
.header-nav {}
.header-catalogue {}
.logo-container {}
.search-container {}

.login-container {}

.promo-article {}
.promo-article-heading {}
.promo-article-contents {}

.popular {}
.popular-item-image-box {}
.services {}
.service-description-box {}
.brands-gallery {}
.info {}
.contacts {}
.map-container {}

.footer {}
.footer-nav {}
.footer-social {}
.footer-copyright {}
.breadcrumbs {}
.filter-box { width: 348px; }
.filter-box-heading-block       {}
.sorting-box                    {}
.sorting-box-heading-block      {}
.catalog-items-box              { width: 852px; }

.catalog-item-onhover-block        { display: none; }
.catalog-item-onhover-block::hover { display: block; }






/* --------------------------------------------------------------- */
/* ---------- END   OF containers (div,section,article) ---------- */
/* --------------------------------------------------------------- */



/* --------------------------------------------------------------- */
/* ----------          BEGIN OF BUTTONS & LINKS         ---------- */
/* --------------------------------------------------------------- */

.button-search {
    width: 85px;
    height: 49px;
    border: 2px solid black;
    background: transparent;
    color: black;
    visibility: hidden;
}
input#search:focus ~ .button-search {
    visibility: visible;
}
.button-search:hover {
    color: white;
    background: black;
}
.button-search:active {
    color: rgba(255, 255, 255, 0.3);
    visibility: visible;
}



.link-user-cart     { magic: true; }
.link-user-cart::before {
    display: inline-block;
    content: '';
    width: 1em;
    height: 1em;
    background: url('../img/svg/cart.svg');
}

.link-compare           { display: block; }
.link-log-me-in         { display: block; }
.link-user-name         { display: block; }
.link-logout            { display: block; }

.link-catalog       {}
.buttton-catalogue-expand {}

.button             {}
.button-animated    {
    display: block;
    width:  220px;
    height: 40px;

    font-family: 'Gilroy', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: auto;
    background: orange;
    /* FIXME: здесь должен быть "красивый" background */
    
}
.button-blackened   {}
.button-back        {}
.button-forth       {}
.button-slide-changer {}

.button-social      { width: 32px; height: 32px; border-radius: 50%; }
.button-social-vk   { }
.button-social-fb   {}
.button-social-insta {}
.button-htmlacademy {}

.link-add-to-compare-list {}
.link-sorting-criteria                {}

.js-sorting-criteria-by-price         {}
.js-sorting-criteria-by-type          {}
.js-sorting-criteria-by-popularity    {}
.js-sorting-criteria-ascending        {}
.js-sorting-criteria-descending       {}

/* --------------------------------------------------------------- */
/* ----------          END   OF BUTTONS & LINKS         ---------- */
/* --------------------------------------------------------------- */








/* --------------------------------------------------------------- */
/* ----------      BEGIN OF LISTS (UL,LI ENLEMENTS)     ---------- */
/* --------------------------------------------------------------- */

[class$='-list'] {
    list-style: none;
}


/* ul, li styles */
.header-nav-list {}
.header-nav-item {}
.header-nav-item_last {}

.footer-nav-list {}
.footer-nav-item {}


.user-cart {}
.user-cart-item {}

.slider-navigation-list {}
.slider-navigation-item {}

.promo-list {  }
.promo-item { display: block; }

.brands-gallery-list {}
.brands-gallery-item {}
.brands-gallery-item-logo-wrapper {}

.services-list {}
.services-item {}
.services-item-active {}
.service-description-heading {}
.service-description-contents {}

.popular-list {}
.popular-item {}
.carrier-list {}
.carrier-item {}
.breadcrumbs-list {}
.breadcrumbs-item {}
.breadcrumbs-item-active {}

.ordering-methods-list {}
.ordering-methods-item {}

.sorting-methods-list {}
.sorting-methods-item {}

.catalog-list {}
.catalog-item {}

.footer-social-list {}

/* --------------------------------------------------------------- */
/* ----------      END   OF LISTS (UL,LI ENLEMENTS)     ---------- */
/* --------------------------------------------------------------- */








/* ------ popus ------ */
#popup-opener-map {}
#popup-opener-write-us {}


/* sliders */
.slider {}
.promo-slider {}



/*  images  */
.promo-item-pic {}
.logo-image {}




/* tables and related things (th,tr,td,etc.) */
.promo-item-characteristics {}
.romo-item-characteristic-name {}
.promo-item-characteristic-value {}













/* --------------------------------------------------------------- */
/* ----------    BEGIN OF containers decorating stuff   ---------- */
/* --------------------------------------------------------------- */

/* <p>, <b>, <span> and other  */
.footer-address {}
.footer-contacts {}
.close-popup {}
.new-item {}

.search-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-image: url('../img/svg/search.svg');    
}
.catalog-item-name {}
.catalog-item-price {}


/* for headings or something like headings in .psd layout */
/* in .services <h3>, in services <h2> */
.huge-heading { 
    font-size: 47px; 
    font-family: "Gilroy ExtraBold", "Gilroy-ExtraBold", Arial, Helvetica, sans-serif;
    font-weight: 800;
    line-height: 48px;
}

/* slogan in '.promo-slider', headings in '.info' and '.contacts' sections  */
.huge-heading-top-line {}
.huge-heading-bottom-line {}

/* make an element looks as triangle */
.triangle {}
.triangle-reversed { transform: rotate(180deg); }
.triangle-active {}

/* --------------------------------------------------------------- */
/* ----------    END   OF containers decorating stuff   ---------- */
/* --------------------------------------------------------------- */





/* --- FORMS --- */
.form-filter {}
.form-filter-label {}
.form-filter-input-range {}
.form-filter-input-range-ugly {}
.form-filter-input-range-pretty {}
.js-input-range-element {}
.form-filter-checkbox {}
.form-filter-radio {}
.form-filter-heading {}

.form-feedback {}
.form-feedback-label {}
.form-feedback-input-text {}

.form-feedback-component {}
.form-feedback-textarea {}
