
/* Gilroy Light */
@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 300;
    src: local('Gilroy Light'), 
         local('Gilroy-Light'), 
         url('../fonts/gilroylight.woff2') format('woff2'),
         url('../fonts/gilroylight.woff') format('woff');
  }
  
/* Gilroy ExtraBold */
@font-face {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 800;
      src: local('Gilroy ExtraBold'), 
           local('Gilroy-ExtraBold'), 
           local('Gilroy-Extra-Bold'), 
           url('../fonts/gilroyextrabold.woff2') format('woff2'),
           url('../fonts/gilroyextrabold.woff') format('woff');
}






/* --------------------------------------------------------------- */
/* ----------  BEGIN OF GLOBAL styles (html, body, etc.) --------- */
/* --------------------------------------------------------------- */

/* Set box-sizing: border-box for entire project */
/* https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}


body {
    background-color: white;
    color: black;
    font-family: 'Open Sans', sans-serif;   /* text - Open Sans, headings - Gilroy */
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
}

a, a:hover, a:active, a:visited {
    color: black;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}
/* --------------------------------------------------------------- */
/* ----------  END   OF GLOBAL styles (html, body, etc.) --------- */
/* --------------------------------------------------------------- */









/* ----------------------------------ВРЕМЕННО ВСЕ КЛАССЫ СЮДА СВАЛИВАЕМ >>> */
/* ----------------------------------ВРЕМЕННО ВСЕ КЛАССЫ СЮДА СВАЛИВАЕМ >>> */

.header   { 
    min-height: 299px;
    
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 60px;
    padding-right: 60px;

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    
    background-color: #f7e296; 
    letter-spacing: 0.01em;
}


/* У ссылок в шапке декоративные картинки добавлены через псевдо-элементы */
.header [class*='button']:hover,   .header [class*='link']:hover   { opacity: 0.6;  } 
.header [class*='button']:active,  .header [class*='link']:active  { opacity: 0.3;  } 
/* переопределяем поведение для кнопки поиска и для ссылки на каталог товаров */
.header [class*='link'][class~='plus-sign']:hover        { opacity: 1; color: rgba(0,0,0,0.6);  } 
.header [class*='link'][class~='plus-sign']:active       { opacity: 1; color: rgba(0,0,0,0.3);  } 
.header [class*='button'][class~='button-search']:hover  { opacity: 1; }
.header [class*='button'][class~='button-search']:active { opacity: 1; }



.header-nav-item-link, .footer-nav-item-link {
    font-family: 'Gilroy', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.header-catalogue-item-link {
    line-height: 36px;
}


/* <main пошёл> */

/* два класса для большего приоритета, далее .huge-heading переопределяет line-height */
.promo-article .promo-article-heading {
    line-height: 56px;
}

.promo-item-characteristic-name {
    font-weight: 300;    /* default UA style for <TH>: font-weight = bold */
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.01em;
}

.promo-item-characteristic-value {
    font-family: 'Gilroy', sans-serif;
    font-weight: 300;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.01em;
}

.promo-article-contents {
    letter-spacing: 0.01em;
}


.popular-list {
    font-family: 'Gilroy', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.01em;
}

.popular-item-image-box {
    width: 160px;
    height: 160px;
    background-color: #f7e296;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.popular-item:nth-of-type(1) .popular-item-image-box {
    background-image: url('../img/svg/popular-1.svg');
}
.popular-item:nth-of-type(2) .popular-item-image-box {
    background-image: url('../img/svg/popular-2.svg');
}
.popular-item:nth-of-type(3) .popular-item-image-box {
    background-image: url('../img/svg/popular-3.svg');
}
.popular-item:nth-of-type(4) .popular-item-image-box {
    background-image: url('../img/svg/popular-4.svg');
}
.popular-item:nth-of-type(5) .popular-item-image-box {
    background-image: url('../img/svg/popular-5.svg');
}
.popular-item:nth-of-type(6) .popular-item-image-box {
    background-image: url('../img/svg/popular-6.svg');
}

.services-item_active {
    background: black;
}

.service-description-heading {
    /* line-height: 48px;     */
}

.service-description-contents { letter-spacing: 0.01em; }

/* TODO: картинки не видно, пока так оставлю */
.services .service-description-box:nth-of-type(1) .service-image-box {
    background-image: url('../img/svg/delivery.svg');
}
.services .service-description-box:nth-of-type(2) .service-image-box {
    background-image: url('../img/svg/warranty.svg');
}
.services .service-description-box:nth-of-type(3) .service-image-box {
    background-image: url('../img/svg/credit.svg');
}

/* TODO: dear IE11, hello! */
/* обесцвечиваем изображения логотипов */
.brands-gallery-item-logo-wrapper {
    filter: grayscale(100%);
}
.brands-gallery-item-logo-wrapper:hover {
    filter: grayscale(0%);
}


.carrier-item {
    font-family: 'Gilroy', sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 40px;        
}


/* задаем инверсию цветов фона и текста для футера */
.footer {
    background: #464646;
    color: #fff;
}

/* переопределяем глобально заданный цвет у ссылки */
.footer a, .footer a:hover, .footer a:active, .footer a:visited {
    color: #fff;
}



.footer-nav-list .footer-nav-item {
    font-family: 'Gilroy', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;   
}


/*  Доставка, гарантия, контакты в футере */
.footer-nav-list [class*='button'],        .footer-nav-list [class*='link']        { color: rgba(255,255,255, 1.0); }
.footer-nav-list [class*='button']:hover,  .footer-nav-list [class*='link']:hover  { color: rgba(255,255,255, 0.6); }  
.footer-nav-list [class*='button']:active, .footer-nav-list [class*='link']:active { color: rgba(255,255,255, 0.6); }  

/* Кнопки соц сетей */
.footer-social-list [class*='button'],          .footer-social-list [class*='link']           { opacity: 0.3; }
.footer-social-list [class*='button']:hover,    .footer-social-list [class*='link']:hover     { opacity: 0.6; }  
.footer-social-list [class*='button']:active,   .footer-social-list [class*='link']:active    { opacity: 0.1; }  

/* Cравнить, корзина */
/* для header'а другие состояния => уточняем классом .footer */
/* FIXME: вложенность получилась 3 уровня */
/* .footer .user-cart-list [class*='button'],          .footer .user-cart-list [class*='link']           { opacity: 0.7; }
.footer .user-cart-list [class*='button']:hover,    .footer .user-cart-list [class*='link']:hover     { opacity: 1.0; }  
.footer .user-cart-list [class*='button']:active,   .footer .user-cart-list [class*='link']:active    { opacity: 0.3; } */
.footer .link-user-cart,        .footer .link-compare           { opacity: 0.7; }
.footer .link-user-cart:hover,  .footer .link-compare:hover     { opacity: 1.0; }
.footer .link-user-cart:active, .footer .link-compare:active    { opacity: 0.3; }

/* Логин */
.footer .link-log-me-in [class*='button'],          .footer .link-log-me-in [class*='link']           { opacity: 0.7; }
.footer .link-log-me-in [class*='button']:hover,    .footer .link-log-me-in [class*='link']:hover     { opacity: 1.0; }  
.footer .link-log-me-in [class*='button']:active,   .footer .link-log-me-in [class*='link']:active    { opacity: 0.3; }  

/* htmlacademy svg */
.button-htmlacademy:hover  { opacity: 0.6; }
.button-htmlacademy:active { opacity: 0.3; }



.form-feedback-label {
    font-family: 'Gilroy', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;       
}

.form-feedback input, .form-feedback textarea {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;        
}


/*  ---2ая стр. пошла--- */

/* по аналогии с header'ом попробуем тот же трюк для breadcrumbs */
.breadcrumbs [class*='button'],         .breadcrumbs [class*='link'],        .breadcrumbs .breadcrumbs-item-active          { opacity: 0.3; }
.breadcrumbs [class*='button']:hover,   .breadcrumbs [class*='link']:hover , .breadcrumbs .breadcrumbs-item-active:hover    { opacity: 0.6; }
.breadcrumbs [class*='button']:active,  .breadcrumbs [class*='link']:active, .breadcrumbs .breadcrumbs-item-active:active   { opacity: 0.1; }


.form-filter-component {
    border-top: 2px solid black;
}

.form-filter-heading {
    font-family: 'Gilroy', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px; 
    letter-spacing: 0.01em;    
}

.form-filter-label {
    display: block;
    font-style: inherit;
    font-weight: 300;
    font-size: 14px;
    line-height: 40px; 
    letter-spacing: 0.01em;       
}


/* при наведении на кнопки упорядочивания и сортировки - изменяется прозрачность элементов  */
.sorting-methods-list [class*='button'],         .sorting-methods-list [class*='link']          { opacity: 0.3; }
.sorting-methods-list [class*='button']:hover,   .sorting-methods-list [class*='link']:hover    { opacity: 0.6; }
.sorting-methods-list [class*='button']:active,  .sorting-methods-list [class*='link']:active   { opacity: 1.0; }

.ordering-methods-list [class*='triangle']                                                      { opacity: 0.2; }
.ordering-methods-list [class*='triangle']:hover                                                { opacity: 0.4; }
.ordering-methods-list [class*='triangle']:active                                               { opacity: 1.0; }





.catalog-item { 
    font-family: 'Gilroy', sans-serif; 
    line-height: 24px; 
    letter-spacing: 0.01em; 
    /* TODO: remove lately */
    background: cyan;
}

.catalog-item-name  { font-weight: 800; font-size: 18px; }
.catalog-item-price { font-weight: 300; font-size: 16px; }



/* .page-link, .button-forth, .button-back  */
.pagination [class*="button"], .pagination [class*="-link"] {
    display: block;
    font-family: 'Gilroy', sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2em;
}


.pagination .page-link           {  color: rgba(0, 0, 0, 0.3); }
.pagination .page-link:hover     {  color: rgba(0, 0, 0, 0.6); }
.pagination .page-link:active    {  color: rgba(0, 0, 0, 1.0); }


/* <<< ВРЕМЕННО ВСЕ КЛАССЫ СЮДА СВАЛИВАЕМ---------------------------------- */
/* <<< ВРЕМЕННО ВСЕ КЛАССЫ СЮДА СВАЛИВАЕМ---------------------------------- */





















/* --------------------------------------------------------------- */
/* ----------    BEGIN OF visibility control classes    ---------- */
/* --------------------------------------------------------------- */

/* visible to a screen reader, but visually hidden */
/* from: https://css-tricks.com/small-tweaks-can-make-huge-impact-websites-accessibility/#article-header-id-2 */
.visually-hidden    { 
    display: block;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(1px);
    white-space: nowrap;
    position: absolute;
 }

/* for popups and other temporarily hidden objects on the page */
.hidden             { visibility:   hidden;  }
.visible            { visibility:   visible; }
.none               { display:      none;    }
.block              { display:      block;   }

/* --------------------------------------------------------------- */
/* ----------    END   OF visibility control classes    ---------- */
/* --------------------------------------------------------------- */




/* --------------------------------------------------------------- */
/* ---------- BEGIN OF containers (div,section,article) ---------- */
/* --------------------------------------------------------------- */

/* container's width = 1/1 full layout width  = 1200px */
/* for header, footer and main content, i.e. for almost everything */
.column-full       { 
    width: 1200px; 
    margin-left: auto;
    margin-right: auto;
}

/* container's width = 1/2 of layout width    = 600px */
.column-one-half   { width: 600px; }
.column-one-half   { width: 50%;   }

/* container's width = 1/3 of layout width    = 400px  */
/* for .services > left block (buttons) */
.column-one-third  { width: 400px; } 

/* container's width = 2/3 of layout width    = 400px  */
/* for .services > right block (content) */
.column-two-thirds { width: 66.667%; } /* получается не ровно 800px */
.column-two-thirds { width: 800px; }

/* container's width = 1/6 of layout width    = 200px */
/* for items in .popular container */
.column-one-sixth  { width: 16.667%; } /* получается не ровно 200px */
.column-one-sixth  { width: 200px; }

/* container's width = 2/15 of layout width    = 160px */
/* for items in .popular container WITHOUT margins and paddings */
.column-two-fifteenth  { width: 13.333%; } /* получается не ровно 160px */
.column-two-fifteenth  { width: 160px; }

/* container's width = 4/5 of layout width    = 960px */
/* for popup 'write-us' and 'map' containers */
.column-four-fifths  { width: 80%; }
.column-four-fifths  { width: 960px; }

/* container's width = 0.4 of layout width    = 480px */
/* for footer's central block */
.column-four-tenths  { width: 480px; }

/* container's width = 0.3 of layout width    = 360px */
/* for footer's central block */
.column-three-tenths  { width: 30%; }
.column-three-tenths  { width: 360px; }

/* container's width = 5/12 of layout width    = 500px  */
/* for .info block */
.column-five-twenteeth { width : 41.6667%; }
.column-five-twenteeth { width : 500px; }    /* чтобы было ровно */

.column-29-percent {
    /* 29 процентов от "базовой" ширины в 1200px */
    width: 348px;
}
.column-71-percent {
    /* 71 процент от "базовой" ширины в 1200px */
    width: 852px;
}

/* something like float: right */
.column-right      { margin-left: auto; }

/* something like float: left */
.column-left       { margin-right: auto; }

.column-flexbox { 
    display: flex; 
}

.column-no-shrink {
    flex-shrink: 0;
}

/* Убрать вьюпорт, этот вьюпорт считается вместе с боковым скроллом (или наоборот), короче, ломает верстку */
.column-vw100 {
    width: 100vw;
}

.column-100percentages {
    width: 100vw;
}

.padding-left-80px {
    padding-left: 80px;
}

.padding-left-52px {
    padding-left: 52px;
}

/* container for filter box */
.wrapper-filter-box { 
    /* 348px - see .column-29-percent */
    min-width: 348px;
    width: calc( 348px + (( 100% - 1200px )/2) );
    background-color: #eee;
}

/* container's width for sorting box and content box */
.wrapper-sorting-box-and-content { 
    /* 852px - see .column-71-percent */
    min-width: 852px;
    width: calc( 852px + (( 100% - 1200px )/2) );
    /* TODO: remove later*/
    background: pink;
}

/* TODO: убрать медиа-запрос, он здесь не нужен */
@media only screen and (max-width : 1199px) {
    .wrapper-filter-box { 
        ~~width: 32.5%;
    }   
   
    .wrapper-sorting-box-and-content {
        ~~width: 67.5%;
    }
}
/* ------------------------------------ */



.header-nav { 
    width: 100%; 
}

.logo-container {   margin-top: -17px; }
.logo-container:hover  { opacity: 0.6; }
.logo-container:active { opacity: 0.3; }

.search-container {}

.login-container { letter-spacing: 0.01em; }

.promo-article { display: flex; }


.popular {
    /* TODO: потом убрать */
    background: crimson;
}
.popular-item-image-box {}

.services { 
    margin-top: 100px;
    padding-bottom: 69px;
    background: #e5e5e5; 

}
.service-description-box {}

.brands-gallery { 
    margin-top: 106px;
        /* TODO: поменять потом */
        background: burlywood;
}
.info {
    margin-left: 20px;
    margin-right: 20px;
    
    /* TODO: поменять потом */
    background: palevioletred;
}
.contacts {
        /* TODO: поменять потом */
        background: palevioletred;
}
.map-container {}

.footer { 
    margin-top: 90px;    /* FIXME: на глаз мерил примерно */
}
.footer-nav {}
.footer-social {}
.footer-copyright {}
.breadcrumbs { letter-spacing: 0.01em; }
.filter-box  { 
    display: block;  
}
.sorting-box  { 
    display: block; 
    background: #ebebeb; 
}

.sorting-box div:first-child {
    justify-content: space-around;
}

.filter-box-heading-block, .sorting-box-heading-block {      
    min-height: 4.375em;

    font-family: 'Gilroy', sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}
.filter-box-heading-block       { display: block; background-color: #dbdbdb; }

.catalog-items-box { 
}

.catalog-item-image-box {
    position: relative;
}

.catalog-item-onhover-block     { 
    position: absolute;
    left: 0;
    top: 0;
    /*  #eee with opacity 0.7 */
    background: rgba( 238, 238, 238, 0.7); 
 }

.pagination {
    margin-left: 20px;
    margin-right: 20px;

    justify-content: space-between;
    background: magenta;
}



/* --------------------------------------------------------------- */
/* ---------- END   OF containers (div,section,article) ---------- */
/* --------------------------------------------------------------- */






/* --------------------------------------------------------------- */
/* ----------          BEGIN OF BUTTONS & LINKS         ---------- */
/* --------------------------------------------------------------- */

.link-user-cart {
    display: block;
    padding-left: 24px; /* padding = 2 * width(left_svg_icon) */
}

/* svg-icon goes before text "Корзина" */
.link-user-cart::before {
    display: inline-block;
    vertical-align: baseline;
    margin-right: 12px;
    width: 12px;
    height: 12px;
    content: '';
    background: url('../img/svg/cart.svg') center center no-repeat;
}


.link-compare { 
    display: block; 
    padding-left: 20px; /* padding = 2 * width(left_svg_icon) */
}

/* svg-icon goes before text "сравнить" */
.link-compare::before {
    display: inline-block;
    vertical-align: baseline;
    margin-right: 10px;
    width: 10px;
    height: 10px;
    content: '';
    background: url('../img/svg/compare.svg') center center no-repeat;
}

.link-log-me-in, .link-user-name { 
    display: block; 
    padding-left: 27px; /* padding = 14px + width(left_svg_icon) */
}

/* svg-icon goes before text "сравнить" */
.link-log-me-in::before {
    display: inline-block;
    vertical-align: baseline;
    margin-right: 14px;
    width: 13px;
    height: 12px;
    content: '';
    background: url('../img/svg/user.svg') center center no-repeat;
}


.link-logout            { display: block; }

.link-catalog       {}


/* svg-icon goes after text "сравнить" */
.header-nav-item-link {
    /* FF adds paddings 8px from left and right sides */
    padding: 0;
}

.header-nav-item:first-of-type .header-nav-item-link {
    position: relative;
    background: transparent;
    border: none;
}

.plus-sign::before, .plus-sign::after {
    position: absolute;
    display: block;
    top: 11px;
    right: -32px;
    content: '';
    width: 16px;
    height: 2px;
    background: #b8a974;
}

.plus-sign::after {
    transform: rotate(90deg);
}


.button             {}
.button-animated    {
    display: block;
    width:  220px;
    height: 40px;

    font-family: 'Gilroy', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    /* FIXME: здесь должен быть "красивый" background */
    background: orange;
    
}
.button-blackened   {}

.button-back        {}

.button-forth       {}


.page-link    {
    /* max width = 3 symbols: 1...999 "subpages" on the catalog page */
    width: 3em;
}
.button-slide-changer {}

.button-social      { width: 32px; height: 32px; border-radius: 50%; }
.button-social-vk   { }
.button-social-fb   {}
.button-social-insta {}
.button-htmlacademy {}

.link-add-to-compare-list {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.5);
}
.link-add-to-compare-list:hover {
    color: rgba(0, 0, 0, 1.0);   
}
.link-add-to-compare-list:active {
    color: rgba(0, 0, 0, 0.2);
}


.link-sorting-criteria                {}

.js-sorting-criteria-by-price         {}
.js-sorting-criteria-by-type          {}
.js-sorting-criteria-by-popularity    {}
.js-sorting-criteria-ascending        {}
.js-sorting-criteria-descending       {}

/* --------------------------------------------------------------- */
/* ----------          END   OF BUTTONS & LINKS         ---------- */
/* --------------------------------------------------------------- */









/* --------------------------------------------------------------- */
/* ----------      BEGIN OF LISTS (UL,LI ENLEMENTS)     ---------- */
/* --------------------------------------------------------------- */

[class*='-list'] {
    list-style: none;
    margin:0;
    padding:0;
}


/* ul, li styles */
.header-nav-list {
    display: flex;
}
.header-nav-item {}

.header-nav-item.column-one-half + .header-nav-item {
    margin-right: 2.2em;
}

.header-nav-item_last {
    margin-left: auto;
}

.footer-nav-list {}
.footer-nav-item {}


.user-cart-list { letter-spacing: 0.01em; }
.user-cart-item { min-width: 100px;}

.slider-navigation-list {}
.slider-navigation-item {}

.promo-list { position: relative;  }
.promo-item {
    position: absolute; 
    left: 0; 
    top: 0; 
    opacity: 0.1; 
    z-index: -9999; 
}
.promo-item_active { position: static; opacity: 1; }

.brands-gallery-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.brands-gallery-item {}
.brands-gallery-item-logo-wrapper {}

.services-list {
    margin-top: -100px;
}
.services-item {}
.services-item_active {}


.popular-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.popular-item {}
.carrier-list {}
.carrier-item {}
.breadcrumbs-list {}
.breadcrumbs-item {}
.breadcrumbs-item-active {}

.ordering-methods-list {}
.ordering-methods-item {}

.sorting-methods-list {}
.sorting-methods-item {}

.catalog-list { 
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    /* TODO: remove lately */
    background: greenyellow;
}
.footer-social-list {}


.pagination-list {
    justify-content: space-between;
}

.pagination-item {
}


/* --------------------------------------------------------------- */
/* ----------      END   OF LISTS (UL,LI ENLEMENTS)     ---------- */
/* --------------------------------------------------------------- */








/* ------ popus ------ */
#popup-opener-map {}
#popup-opener-write-us {}


/* sliders */
.slider {}
.promo-slider {
    /* TODO: потом убрать */
    background: cornflowerblue;
}



/*  images  */
.promo-item-pic {}
.logo-image {}




/* tables and related things (th,tr,td,etc.) */
.promo-item-characteristics {}
.romo-item-characteristic-name {}
.promo-item-characteristic-value {}













/* --------------------------------------------------------------- */
/* ----------    BEGIN OF containers decorating stuff   ---------- */
/* --------------------------------------------------------------- */





/* <p>, <b>, <span> and other  */
.footer-address {}
.footer-contacts {}
.close-popup {}


.new-item {
            display: inline-block;
            width: 60px;
            height: 60px;
            border: 2px solid black;
            border-radius: 50%;

            vertical-align: middle;
            text-align: center;
            font-family: 'Gilroy', sans-serif;
            font-weight: 800;
            font-size: 14px;
            line-height: 56px;
            letter-spacing: 0.05em;

            opacity: 0.2;
            
            /* TODO: осталось спозиционировать относительно родителя, разметка будет меняться? */
            position: absolute;
            top: 29px;
            right: 27px; 
}



.main-catalogue-heading {
    padding-left: 80px;
}

/* for headings or something like headings in .psd layout */
/* in .services <h3>, in services <h2> */
.huge-heading { 
    font-family: 'Gilroy', sans-serif;
    font-weight: 800;
    font-size: 47px; 
    line-height: 48px;
    letter-spacing: 0.01em;
}

/* slogan in '.promo-slider', headings in '.info' and '.contacts' sections  */
.huge-heading-top-line {}
.huge-heading-bottom-line {}

/* make an element looks as triangle */
.triangle { display: block;
            font-size: 0;
            padding: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 5.5px 10px 5.5px;
            border-color: transparent transparent #000000 transparent;
    }
.triangle-reversed  { transform: rotate(180deg); }
.triangle-active    { opacity: 1 !important;     }

/* --------------------------------------------------------------- */
/* ----------    END   OF containers decorating stuff   ---------- */
/* --------------------------------------------------------------- */




/* --------------------------------------------------------------- */
/* ----------               BEGIN OF FORMS              ---------- */
/* --------------------------------------------------------------- */


/* -----------      форма поиска в шапке      ----------- */
.form-search {
    padding-right: 100px;
}

.form-search-label { 
    display: block;
    position: relative; 
}

.form-search-input {
    display: block;
    width: 100%;
    padding-left: 36px;
    border: none;
    
    background-color: transparent;
    background: url('../img/svg/search.svg') left center no-repeat;
    background-size: 16px 16px;

    color: rgba(0, 0, 0, 0.3); 
}

.form-search-input, .button-search {
    /* rewrite normalize.css styles for inputs */
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.01em;
}

.form-search-input:hover {
    color: rgba(0, 0, 0, 0.6); 
}

.form-search-input:focus {
    color: rgba(0, 0, 0, 1.0);
    border-bottom: 2px solid black; 
}

.button-search {
    display: none;
    width: 85px;
    height: 49px;
    position: absolute;
    bottom: 0;
    right: 0;
    border: 2px solid black;
    background: transparent;
    color: black;
}

.form-search-input:focus ~ .button-search, .button-search:hover, .button-search:active {
    display: block;
}

.button-search:hover {
    background: black;
    color: white;
}

.button-search:active {
    background: black;
    color: rgba(255, 255, 255, 0.3);
}





/* --- остальные формы --- */
.form-filter {}
.form-filter-label {}
.form-filter-input-range {}
.form-filter-input-range-ugly {}
.form-filter-input-range-pretty {}
.form-filter-checkbox {}
.form-filter-radio {}
.form-filter-heading { }

.drag-slider {}
.drag-slider-body {}
.drag-slider-line {}
.drag-slider-handle {}
.drag-slider-handle-left {}
.drag-slider-handle-right {}

.form-feedback {}
.form-feedback-label {}
.form-feedback-input-text {}

.form-feedback-component {}
.form-feedback-textarea {}

/* --------------------------------------------------------------- */
/* ----------               END   OF FORMS              ---------- */
/* --------------------------------------------------------------- */